//COLORS
$app-bg-color: black;
$formula-text-color: orange;
$display-text-color: white;
$buttons-text-color: black;
$buttons-border-color: black;
$buttons-border-hover-color: white;
$clear-button-bg-color: red;
$equal-button-bg-color: rgb(1, 1, 192);
$number-button-bg-color: gray;
$operator-button-bg-color: lightgray;

//BORDER

$buttons-border: 0.1rem solid;
